.Information {
  margin-bottom: 30px;
}

.Information h1 {
  color: #bbbfc3;
  font-size: 32px;
  font-weight: 100;
  line-height: 30px;
  text-align: left;
  margin-bottom: 0;
}
.Information ul {
  margin: 0;
  padding: 0;
}

.Information li::first-letter {
  text-transform: capitalize;
}
